<div class="card col" style="margin: 1rem; padding: 0 -1rem;">
  <div class="card-block">
    <h4 class="card-title">Choose an Item Above to add Time</h4>
    <p>
      Hello
    </p>
  </div>
</div>
