<div class="card">
  <div class="card-header card-header-grey cntr">
    <h4 class="card-title">Click an Item to Add Time</h4>
  </div>
  <div class="card-block">
    <h4 class="card-title">Choose an item above for which you would like to track time.
      Click the Add Time button to manually add your time, or the the Add Timer button
      for a start/stop timer</h4>
  </div>
</div>
