<div class="card">
  <div class="card-header card-header-grey cntr">
    <h4 class="card-title">Click an Item to Add Time</h4>
  </div>
  <div class="card-block">
    <p>
      Hello
    </p>
  </div>
</div>
