.small-font {
  font-size: 1.5rem;
}

.wrapper-nb--db {
  min-height: 100vh;
    color: #113B43;
    overflow: hidden;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    position: relative;
    z-index: 3;
}

#modal-overlays {
  z-index: 4;
}

.navbar {
  padding: 2rem 0;
  background-color: $c-dirtierPearl;
  margin-bottom: 2.5rem;

  h4 {
    margin-left: 3rem;
  }
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.header {
  font-family:  'Amatica SC', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: $c-agedPorcelain;

}

.btn-dashboard {
  background-color: $c-agedPorcelain;
  color: $c-dirtierPearl;
  font-style: inherit;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0;
  &:hover {
    background-color: lighten($c-lobsterBisque, 7%);
    color: $c-agedPorcelain;
  }
}

button {
  font-family: inherit;
}
