.small-font {
  font-size: 1.5rem;
}

.wrapper-nb--db {
  min-height: 100vh;
    color: #113B43;
    overflow: hidden;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    position: relative;
    z-index: 3;
}

.navbar {
  padding: 2rem 0;
  background-color: $c-dirtierPearl;
  margin-bottom: 3rem;
}

.navbar-header {
  display: flex;
  justify-content: space-around;
}

.header {
  font-family:  'Amatica SC', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: $c-agedPorcelain;
}

.btn-dashboard {
  background-color: $c-agedPorcelain;
  color: $c-soiledPearl;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0;
  &:hover {
    background-color: darken($c-agedPorcelain, 5%);
    color: $c-soiledPearl;
  }
}
