.card-header-grey {
  background-color: $c-dirtierPearl;
  color: $c-agedPorcelain;
  border-radius: 0;
}

.card-header:first-child {
  border-radius: 0;
}

.card {
  border: none;
  border-radius: 0;

}

.card-block {
  background-color: $c-agedPorcelain;
  margin: 0;
  color: $c-dirtierPearl;
  border-radius: 0;
}

.acc-container {
  display: flex;
  flex-direction: row-reverse;

}

.table-content {
  // display: flex;
}

.card-header {
  font-size: 2rem;
  font-family: 'Amatica SC', cursive;
  border-bottom: none;
  margin-bottom: .5rem;
  h6 {
    margin-top: .5rem;
    font-family: 'Catamaran', sans-serif;
  }
}

.accordion .card {
  border-radius: 0;
  .card-header {
    background: $c-agedPorcelain;
    border-radius: 0;
    a { color: $c-dirtierPearl;
    }
  }

  &:nth-child(odd) .card-header {
    background: $c-soiledPearl;
    border-radius: 0;
    a { color: $c-agedPorcelain;
    }
  }
}

.row {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.btn {
  cursor: pointer;
  outline: none;
}

.btn-container-table {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}


.btn-table {
    background-color: $c-agedPorcelain;
    color: $c-dirtierPearl;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0;
    line-height: 1;
    margin-left: 1rem;
    outline: none;


    &:hover {
      background-color: lighten($c-lobsterBisque, 7%);
      color: $c-agedPorcelain;
    }
}

.btn-table--del {
    background-color: $c-agedPorcelain;
    color: $c-dirtierPearl;
    padding: 0 0.2rem;
    border-radius: 0;
    margin-left: 1rem;


    &:hover {
      background-color: lighten($c-lobsterBisque, 7%);
      color: $c-agedPorcelain;
    }
}

.cancel {
   padding: .5rem .5rem 0 0;
   float: right;
   color: $c-dirtierPearl;
   cursor: pointer;
}

.card-title--index {
  font-family: inherit;
  font-size: 1.2rem;
}
