.form-wrapper-nb {

}

.form-nb {
  h3 {

  }
}

.input-container-nb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input-nb {
  border: none;
  background-color: $c-justBeige;
  width: 100%;
  border-bottom: .15rem solid $c-hospitalScrubs;
  padding-top: 1rem;
  font-family: 'Amatica SC', cursive;
  font-size: 2rem;

}
