
.wrapper-nb {
  background-color: $c-paleCarrot;
  height: 100vh;
  color: $c-hospitalScrubs;
  overflow: hidden;
  position: relative;
}

.form-Nb {
  padding: 1rem;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}


  .container-Nb {
    z-index: 10;
    background-color: $c-agedPorcelain;
    padding: 0;
    height: 75vh;
    width: 20%;
    display: block;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    flex: 1 0 auto;
    margin: 0 2rem;
  }

.background-img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  border-left: 100vw solid transparent;
  border-right: 100vw solid transparent;
  border-bottom: 120vh solid $c-hospitalScrubs;
}

.background-img-sm {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 5;
  border-top: 60vw solid $c-lobsterBisque;
  border-right: 100vw solid transparent;
  border-left: 100vh solid transparent;
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100vw;
  padding: 1rem;

  .quote {
    font-size: .75rem;
    width: 30%;
    flex: 1 0 auto;
    margin: 0 2rem;
  }
}

.input-nb {
  border: none;
  background-color: $c-agedPorcelain;
  width: 100%;
  border-bottom: .15rem solid $c-hospitalScrubs;
  padding: 2rem 0 0.25rem 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.25rem;
  &:focus {
    outline: 0;
    background-color: darken($c-agedPorcelain, 5%);
  }

}

.register-input {
  margin-top: 1rem;

}

.btn-Register {
  background-color: $c-agedPorcelain;
  color: $c-hospitalScrubs;
  font-family:  'Amatica SC', cursive;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
  border-radius: 0;
  line-height: 1;

  &:hover {
    background-color: darken($c-agedPorcelain, 7%);
    color: $c-hospitalScrubs;
  }
}

.btn-Login {
  background-color: $c-hospitalScrubs;
  color: $c-agedPorcelain;
  font-family:  'Amatica SC', cursive;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
  width: 50%;
  line-height: 1;

  &:hover {
    background-color: lighten($c-hospitalScrubs, 7%);
    color: $c-agedPorcelain;

  }
}

.btn-Next {
  background-color: $c-hospitalScrubs;
  color: $c-agedPorcelain;
  font-size: 1rem;
  width: 25%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  &:hover {
    background-color: lighten($c-hospitalScrubs, 7%);
    color: $c-agedPorcelain;
  }
}

.btn-container {
  display: flex;
  width: 100%;

}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  p {
    margin-bottom: 0;
  }
}


.register {
  color: $c-lobsterBisque;

}
