{{#modal-dialog close="toggleModal"
                targetAttachment="center"
                translucentOverlay=true}}
  <div class="card modal-card">
    <div class="card-header card-header-grey cntr">
      <h3 class="card-title">Add an Item</h3>
    </div>
    <div class="close">
      {{#link-to "dashboard" class="close"}}X{{/link-to}}
    </div>
    {{#with (changeset model validator) as |formValues|}}

      <form {{action "addItem" formValues on="submit"}}>
        <div class="form-group">
          {{#form-input class="form-control form-input" label="item" changeset=formValues property="item"}}{{/form-input}}
        </div>
        <div class="form-group">
          {{#form-input class="form-control" label="category" changeset=formValues property="category"}}{{/form-input}}
       </div>
      <div class="form-group modal-btn-container">
        <button type="submit" class="btn btn-modal">Add Item</button>
      </div>
      </form>
    {{/with}}
  </div>
{{/modal-dialog}}
