<div class="card col" style="margin: 1rem; padding: 0 -1rem;">
  <div class="card-block">
    <h4 class="card-title">Add Time</h4>
    <p class="card-text">Click on the Add Time link for an Item above. Then enter an amount of time (in minutes)
       you spent on that item in the input field below, and click the button to add the time to the item.</p>
    <input class="form-control" type="number" placeholder="add minutes">
    <button type="submit" name="button" class="btn btn-primary" style="margin: 1rem 0 0;">Add Time</button>
  </div>
</div>
