<div class="wrapper-nb">
  <div class="background-img-sm"></div>
    <div class="background-img"></div>

  <div class="content">
    <div class="quote">
      <h3>This is where some inpirational quote
      that Justin likes will go. He probably found it on his tea,
      and it'll say like live, love laugh or something like that.</h3>
    </div>


    <div class="container-Nb container">
        <div class="btn-container">
          {{#link-to 'register' class="btn btn-Register"}}Register{{/link-to}}
          {{#link-to 'login' class="btn btn-Login"}}login{{/link-to}}
        </div>
        {{#with (changeset model validator) as |formValues|}}
            <form class="form-Nb" {{action "registerUser" formValues on="submit"}}>
              <div class="input-container-nb register-input">
                {{#form-input changeset=formValues class="form-control" label="Email address" property="email"}}{{/form-input}}
              </div>
              <div class="input-container-nb register-input">
                {{#form-input changeset=formValues type="password" class="form-control" label="Password" property="password"}}{{/form-input}}
              </div>
              <small class="text-muted">(Password must be at least 6 characters long.)</small>
              <div class=" bottom-container">
                <button type="submit" class="btn btn-Next">Next</button>
                <p>
                  Need an account? {{#link-to 'login' class="register"}} Login Here{{/link-to}}
                </p>
              </div>
            </form>
        {{/with}}
      </div>
  </div>
</div>

{{!-- <div class="alert alert-danger" role="alert">
  Change a few things up and try submitting again.
</div> --}}
