<div class="wrapper-nb">
  <div class="background-img-sm"></div>
    <div class="background-img"></div>

  <div class="content">
    <div class="quote">
      <h3>This is where some inpirational quote
      that Justin likes will go. He probably found it on his tea,
      and it'll say like live, love laugh or something like that.</h3>
    </div>


    <div class="container-Nb container">
        <div class="btn-container">
          {{#link-to 'login' class="btn btn-Login"}}login{{/link-to}}
          <button type="submit" class="btn btn-Register">register</button>
        </div>
        {{#with (changeset model) as |formValues|}}
            <form class="form-Nb" {{action "registerUser" formValues on="submit"}}>
              <div class="input-container-nb register-input">
                {{input type="text" value=formValues.name placeholder="name" class="input-nb"}}
              </div>
              <div class="input-container-nb register-input">
                {{input type="text" value=formValues.email placeholder="email" class="input-nb"}}
              </div>
              <div class="input-container-nb register-input">
                {{input type="password" value=formValues.password placeholder="password" class="input-nb"}}
              </div>
              <small class="text-muted">(Password must be at least 6 characters long.)</small>
              <div class=" bottom-container">
                <button type="submit" class="btn btn-Next">Next</button>
                <p>
                  Need an account? {{#link-to 'login' class="register"}} Login Here{{/link-to}}
                </p>
              </div>
            </form>
        {{/with}}
      </div>
  </div>
</div>

{{!-- <div class="alert alert-danger" role="alert">
  Change a few things up and try submitting again.
</div> --}}
