<div class="wrapper-nb">
  <div class="container">

    <h1 class="title--nb">Heisenberger Helper</h1>
    <div class="grid--nb">

      <div class="row">
        <div class="left--nb col align-self-center">
          <h3>Welcome to Heisenberger Helper!</h3>
          <img src="https://s-media-cache-ak0.pinimg.com/736x/63/0f/0e/630f0ef3f6f3126ca11f19f4a9b85243.jpg" alt="" class="pic--nb">
          <p>You can use this site to track your habits!</p>
        </div>

        {{#with (changeset model validator) as |formValues|}}
          <div class="right--nb col col-md-auto form-wrapper-nb">
            <form class="form-nb" {{action "registerUser" formValues on="submit"}}>
              <h3>Register</h3>
              <div class="input-container-nb">
                {{#form-input changeset=formValues class="form-control" label="Email address" property="email"}}{{/form-input}}
              </div>
              <div class="input-container-nb">
                {{#form-input changeset=formValues type="password" label="Password" property="password"}}{{/form-input}}
              </div>
              <small class="text-muted">(Password must be at least 6 characters long.)</small>
              <div class="bottom--nb">
                <button class="btn btn-primary">Sign Up</button>
                <a href="/login">Already have an account?</a>
              </div>
            </form>
          </div>
        {{/with}}

      </div>

    </div>

  </div>
</div>

{{!-- <div class="alert alert-danger" role="alert">
  Change a few things up and try submitting again.
</div> --}}
