<div class="wrapper-nb">
  <div class="background-img-sm"></div>
  <div class="background-img"></div>

  <div class="container-nb container">
    <div class="btn-container">
      {{#link-to 'register' class="btn btn-register"}}Register{{/link-to}}
      {{#link-to 'login' class="btn btn-login"}}Log In{{/link-to}}
    </div>
    {{#with (changeset model validator) as |formValues|}}
    <form class="form-nb" {{ action "loginUser" formValues on="submit"}}>
      <h2>{{errorMessage}}</h2>
      <div class="form-group">
        {{#form-input changeset=formValues placeholder="Email Address" label="Email address" property="email"}}{{/form-input}}
      </div>
      <div class="form-group">
        {{#form-input changeset=formValues type="password" placeholder="Password" label="Password" property="password"}}{{/form-input}}
     </div>
      <div class=" bottom-container">
        <button type="submit" class="btn btn-next">Next</button>
        <p>
          Need an account? {{#link-to 'register' class="register"}} Register Here{{/link-to}}
        </p>
      </div>
    </form>
    {{/with}}

  </div>
</div>
