<div class="card">
  <div class="card-header card-header-grey cntr">
  <h4 class="card-title">Add Time to {{model.item}}</h4>
  </div>
    <div class="card-block">
    <p class="card-text">Enter the amount of time (in minutes)
       you spent on this item below, and click the button to add the new time to this item.</p>
       {{#with (changeset formValues validator) as |formValues|}}
         <form {{action "addTime" formValues on="submit"}}>
           <h1 class="title text-center">Add Time</h1>
           <div class="form-group">
             {{#form-input class="form-control" type="number" label="add minutes" changeset=formValues property="time"}}{{/form-input}}
           </div>
         <div class="form-group btn-container">
           {{#link-to "dashboard" class="btn btn-cancel"}}Cancel{{/link-to}}
           <button type="submit" class="btn btn-add">Add New Time</button>
         </div>
         </form>
       {{/with}}
  </div>
</div>
