<div class="container">
  <div class="section">
    <div class="row justify-content-between">
      <div class="card col col-sm-3" style="margin: 1rem 0;">
        <div class="card--words" >Hi, user!</div>
        {{!-- {{something.user}} --}}
        <button class="btn btn-primary">+Add New Item</button>
        {{!-- {{#link-to "???" class="button"}}+Add New Item{{/link-to}} --}}

      </div>

      <div class="card col col-sm-3" style="margin: 1rem 0;">
        <div class="card--words" >Done here?</div>
        <button class="btn btn-primary">Log out</button>
        {{!-- {{#link-to "???" class="button"}}Log out{{/link-to}} --}}
      </div>
    </div>


  <div class="card">
    <h4 class="card-header">Table Heading</h4>
    <div class="card-block">
      <table class="table">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Category Name</th>
            <th>See More Info</th>
            <th>Add Time</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Facebook</td>
            <td>Social Media</td>
            <td>See More</td>
            <td>Time</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td>Social Media</td>
            <td>See More</td>
            <td>Time</td>
            <td>x</td>
          </tr>
          <tr>
            <td>Twitter</td>
            <td>Social Media</td>
            <td>See More</td>
            <td>Time</td>
            <td>x</td>
          </tr>
          <tr>
            <td>yoga</td>
            <td>Exercise</td>
            <td>See More</td>
            <td>Time</td>
            <td>x</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>

<div class="row">
  <div class="card col" style="width: 20rem; margin: 1rem 0;">
  <div class="card-block">
    <h4 class="card-title">Add Time</h4>
    <p class="card-text">Enter an amount of time (in minutes) and click the button to add time to an item</p>
    <input class="form-control" type="number" placeholder="add minutes">
    <a href="#" class="btn btn-primary" style="margin: 1rem 0;">Add</a>
  </div>
</div>

  <div class="card col" style="width: 20rem; margin: 1rem 0;">
    <img class="card-img-top" src="http://s2.dmcdn.net/MKoQw/1280x720-DWQ.jpg" alt="pie chart">
  </div>
</div>





  </div> {{!-- section --}}
</div> {{!-- container --}}
