<div class="wrapper-nb">
  <div class="container w-25 p-3">
    {{#with (changeset model validator) as |formValues|}}
    <form {{action "loginUser" formValues on="submit"}}>
      <h1 class="title text-center">Log In</h1>
      <h2>{{errorMessage}}</h2>
      <div class="form-group">
        {{!-- <label for="exampleInputEmail1">Email address</label> --}}
        {{#form-input changeset=formValues class="form-control" label="Email address" property="email"}}{{/form-input}}
      </div>
      <div class="form-group">
        {{!-- <label for="exampleInputPassword1">Password</label> --}}
        {{#form-input changeset=formValues type="password" label="Password" property="password"}}{{/form-input}}
     </div>
      <div class="form-group d-flex justify-content-between align-items-end">
        <button type="submit" class="btn btn-block btn-flat">Submit</button>
      </div>
      <p>
        Need an account? {{#link-to 'register' class="register"}} Register Here{{/link-to}}
      </p>
    </form>
    {{/with}}

  </div>
</div>



{{!-- {{#with (changeset model validator) as |formValues|}}
  <form {{action "loginUser" formValues on="submit"}}>
    {{#form-input changeset=formValues label="Email" property="email"}}
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    {{/form-input}}

    {{#form-input changeset=formValues type="password" label="Password" property="password"}}
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    {{/form-input}}

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
    </div>
  </form>
{{/with}} --}}
