
<h1>Title</h1>
<div>Welcome to Heisenberg Helper!</div>
<img src="https://www.bettycrocker.com/-/media/legacy/Images/ProductPages/Hamburger-Helper/Landing-Page/Cheeseburger-Macaroni.jpg?W=800" alt="">
<p>You can use this site to track your habits!</p>

<div class="card-thing">
<div>Register</div>
<div>Name
  <input type="text" placeholder="name">
</div>
<div>Email
  <input type="text" placeholder="email">
</div>
<div>Password
  <input type="text" placeholder="password">
</div>
<button>Sign Up</button>
<a href="#">Already have an account?</a>
</div>
